ul {
    
    align-items: center;
    display: flex;
    list-style: none;
    margin-top: 30px;

    li {

        a {

            i {
        
                color: black;
                margin: 0 15px 0 15px;
            }
        }
    }
}
