.section {

    height: 80vh;
    margin: 30px 20px 0 20px;
    position: relative;
    width: 90vw;

    img {
        //border-radius: 50%;
        clip-path: circle(50% at 50% 50%);
        filter: drop-shadow(-100px -100px -100px #222);
        height: 32vh;
        width: auto;
    }

    h1, h2 {
        color: #29ACBB;
        margin: 25px;
    }

    h3 {
        margin-bottom: 20px;
    }

    p {
        text-align: justify;
        margin: 0 20px 30px 20px;
    }
}

.section-down { 
    
    background-color: #EDF0F2;
    margin-bottom: 10px;

    h2 {
        align-self: flex-start;
    }
}